<h1>Listado Asesores
    <a class="btn btn-primary" role="button" routerLink="/add-asesor/">
        <i class="bi bi-plus-square-fill"> </i> Agregar Asesor
    </a>
</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let asesor of Asesores; let i=index">
            <td scope="row">{{asesor.id}}</td>
            <td>{{asesor.nombre}}</td>
            <td>{{asesor.apellido}}</td>
            <td>
                <a class="btn btn-outline-primary me-1" routerLink="/edit-asesor/{{asesor.id}}">Editar <i class="bi bi-pencil-square"></i></a> 
                <a class="btn btn-outline-danger" role="button" (click)="delAsesor(asesor.id,i)"> Borrar <i class="bi bi-trash-fill"></i></a> 
            </td>
        </tr>
        
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th></th>
        </tr>
    </tfoot>
</table>

