<div class="card">
    <div class="card-header">
        <h3>Editar Estacion</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="fg" ngNativeValidate (ngSubmit)="submitData()" class="row g-2">
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" id="validationCustom01" required>
        </div>
  
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label">Stock Tarjetas</label>
          <input type="number" class="form-control" formControlName="stockTarjeta" id="validationCustom02" required>
        </div>

        <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Saldo Caja</label>
            <input type="number" class="form-control" formControlName="saldoCaja" id="validationCustom03" required>
          </div>
        
        <div class="col-md mt-3">                
            <a class="btn btn-outline-secondary mx-1"  routerLink="/list-estacion/"> <i class="bi bi-arrow-bar-left"> </i>Volver</a>
            <button class="btn btn-success mx-1" [disabled]="fg.invalid" type="submit"> <i class="bi bi-save-fill"></i> Modificar Estacion</button>
        </div>
      </form>
  
    </div>
  </div>
  
  
